@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
  
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.heading{
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: #9e6a80;
}
.container{
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input{
  padding-left: 5px;
  font-size: 20px;
  height: 36px;
}
.middle,.right{
  width: 120px;
}
.switch{
  padding: 5px;
  margin-top: 25px;
  background-color: #f8c8dc;
  border-radius: 50%;
  cursor: pointer;
}
.result{
  box-sizing: border-box;
  width: 800px;
  padding-left: 30px;
  color: #9e6a80
}
button{
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #f8c8dc;
  background-color: #f8c8dc;
  cursor: pointer;
}
p,h3, button, .switch{
  color: #9e6a80;
}
p{
  font-size: 30px;
  color: #9e6a80
}